.task-list {
    border: 1px solid #fffefe;
    border-radius: 8px;
    padding: 10px;
    min-width: 18rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    background-color: rgb(246, 248, 252);
    box-shadow: -2px 5px 10px -8px rgba(105,105,105,1);

}
.status-name{
    margin: 1px;
}
.add-button {
    width: 100%;
    border: none;
    background: none;
    margin-top: 10px;
    font-weight: 500;
    color: #3b3b3b;
}

.todo{
    border-top: 5px #d570ac solid;
}

.done{
    border-top: 5px #ff28a3 solid;
}

.doing{
    border-top: 5px #5fd8de solid;
}

.task-list-edit{
    float: right;
    width: 20px;
}